Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteRule ^$ /php/index.php [L,NC,QSA]
RewriteRule ^login$ /php/login.php [L,NC,QSA]
RewriteRule ^logout$ /php/logout.php [L,NC,QSA]
RewriteRule ^signup$ /php/signup.php [L,NC,QSA]
RewriteRule ^rules$ /php/rules.php [L,NC,QSA]
RewriteRule ^discover$ /php/discover.php [L,NC,QSA]
RewriteRule ^search$ /php/search.php [L,NC,QSA]
RewriteRule ^my_blacklist$ /php/blacklist.php [L,NC,QSA]
RewriteRule ^communities$ /php/community-list.php [L,NC,QSA]
RewriteRule ^communities\/favorites$ /php/my-favorites.php [L,NC,QSA]
RewriteRule ^communities\/create$ /php/create-community.php [L,NC,QSA]
RewriteRule ^communities\/([0-9]+)$ /php/communities.php?id=$1 [L,NC,QSA]
RewriteRule ^communities\/([0-9]+)\/(un)?favorite\.json$ /php/favorite.php?id=$1&un=$2 [L,NC,QSA]
RewriteRule ^communities\/([0-9]+)\/(join|leave)$ /php/join-community.php?id=$1&action=$2 [L,NC,QSA]
RewriteRule ^posts$ /php/create-post.php [L,NC,QSA]
RewriteRule ^(posts|replies)\/([0-9]+)$ /php/posts.php?type=$1&id=$2 [L,NC,QSA]
RewriteRule ^(posts|replies)\/([0-9]+)\/empathies(\.delete)?$ /php/empathies.php?type=$1&id=$2&delete=$3 [L,NC,QSA]
RewriteRule ^(posts|replies)\/([0-9]+)\.delete$ /php/delete.php?type=$1&id=$2 [L,NC,QSA]
RewriteRule ^(posts|replies)\/([0-9]+)\.set_sensitive$ /php/set-sensitive.php?type=$1&id=$2 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/replies$ /php/replies.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/embed$ /php/embed.php?id=$1 [L,NC,QSA]
RewriteRule ^(posts|replies)\/([0-9]+)\/violations$ /php/report.php?type=$1&id=$2 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/screenshot\.set_profile_post$ /php/set-profile-post.php?id=$1 [L,NC,QSA]
RewriteRule ^users\/@me$ /php/me.php [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\.(un)?follow\.json$ /php/follow.php?username=$1&un=$2 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)$ /php/user-profile.php?username=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/(posts|empathies)$ /php/user-posts.php?username=$1&type=$2 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/(following|followers)$ /php/user-follows.php?username=$1&type=$2 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/favorites$ /php/user-favorites.php?username=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/violators$ /php/report-user.php?username=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/blacklist\.(create|delete)\.json$ /php/block.php?username=$1&type=$2 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/manage$ /php/manage-user.php?username=$1 [L,NC,QSA]
RewriteRule ^settings\/profile_post\.unset\.json$ /php/unset-profile-post.php [L,NC,QSA]
RewriteRule ^settings\/profile$ /php/profile-settings.php [L,NC,QSA]
RewriteRule ^settings\/account$ /php/account-settings.php [L,NC,QSA]
RewriteRule ^news\/my_news$ /php/notifications.php [L,NC,QSA]
RewriteRule ^check_update\.json$ /php/check-update.php [L,NC,QSA]
RewriteRule ^assets\/js\/embedded\.min\.js$ /php/embedded-min-js.php [L,NC,QSA]
ErrorDocument 403 /php/403.php
ErrorDocument 404 /php/404.php