@charset 'UTF-8';
@font-face {
  font-family: 'MiiverseSymbols';
  src: url(/assets/css/MiiverseSymbols-Regular.eot);
  src: url(/assets/css/MiiverseSymbols-Regular.eot?#iefix) format('embedded-opentype'), url(/assets/css/MiiverseSymbols-Regular.woff) format('woff'), url(/assets/css/MiiverseSymbols-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #323232;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
li,
table,
tr,
th,
td {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
input,
textarea {
  font-size: 12px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
menu,
li {
  list-style: none;
}
a {
  color: #006eff;
  text-decoration: none;
}
img {
  border: 0;
  color: #ddd;
}
input,
label,
button {
  cursor: pointer;
}
.none {
  display: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.pointer-events-none {
  pointer-events: none;
}
.trigger {
  cursor: pointer;
}
.pre-line {
  white-space: pre-line;
}
html body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
html.os-win body {
  font-family: 'Helvetica', 'Arial', 'Meiryo', 'メイリオ', sans-serif;
}
html.os-mac body {
  font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}
.symbol:before {
  font-family: 'MiiverseSymbols', sans-serif !important;
  font-weight: normal!important;
}
.symbol span.symbol-label {
  display: none;
  *display: inline;
  *zoom: 1;
  *margin-right: 3px;
}
.icon-container {
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  overflow: hidden;
}
.icon-container .icon {
  width: 48px;
  height: 48px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}
.icon-container.official-user {
  position: relative;
}
.icon-container.official-user:after {
  content: url(/assets/img/official-user.png);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}
.user-community .icon-container {
  position: relative;
  overflow: visible;
  background: transparent;
}
.user-community .icon-container .icon {
  width: 34px;
  height: 34px;
}
.user-community .icon-container .user-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.user-community.official-user .icon-container:after {
  content: url(/assets/img/official-user-mini.png);
  position: absolute;
  display: block;
  top: 16px;
  left: 16px;
  width: 17px;
  height: 17px;
}
#post-content {
  padding: 0px;
  position: static;
  visibility: visible;
}
#post-content {
  padding: 10px 8px 0;
}
.community-container {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  margin: -10px -10px 10px;
  padding: 5px 8px 3px;
  font-size: 12px;
}
.community-container a {
  color: #969696;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.community-container a:hover {
  color: #646464;
}
.community-container .community-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
.post-subtype-label {
  color: #323232;
  float: right;
  margin: -2px -6px -5px 5px;
  padding: 3px 9px 0;
  font-size: 12px;
}
.post-subtype-label.post-subtype-label-diary {
  border-bottom: 2px solid #04c9db;
}
.post-subtype-label.post-subtype-label-artwork {
  border-bottom: 2px solid #fcc735;
}
.post-subtype-label.post-subtype-label-topic {
  border-bottom: 2px solid #e8316e;
}
.post-subtype-label.post-subtype-label-via-api {
  border-bottom: 2px solid #5ac800;
}
#service-logo {
  float: right;
}
#service-logo img {
  width: 120px;
  height: 22px;
}
.post .screenshot-container {
  display: block;
  margin: 0 0 5px;
}
.post .screenshot-container img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.post .video {
  margin-bottom: 10px;
  height: 100%;
}
.post .video + .screenshot-container {
  margin-top: 10px;
}
.post .timestamp-container {
  font-size: 12px;
  color: #969696;
  margin-left: 60px;
  margin-bottom: 15px;
}
.post .spoiler-status {
  display: none;
}
.post .spoiler-status.spoiler {
  display: inline;
}
.post .user-name {
  margin-left: 60px;
  padding-top: 3px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #323232;
}
.post .user-name a {
  color: #323232;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.post .timestamp {
  color: #969696;
}
.post .timestamp:hover {
  text-decoration: none;
}
.post .played {
  color: #969696;
  margin-left: 3px;
}
.post .played:before {
  content: "D";
}
.post .post-tag {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #3caa00;
}
.post .post-tag:before {
  content: "t";
  font-weight: normal;
  font-size: 14px;
  margin-right: 2px;
  vertical-align: middle;
  color: #5ac800;
}
.post .post-tag.post-official-tag {
  color: #00acca;
}
.post .post-tag.post-official-tag:before {
  color: #00acca;
}
.post .post-tag.post-topic-category {
  color: #e8316e;
}
.post .post-tag.post-topic-category:before {
  color: #e8316e;
}
.post .post-content-text {
  font-size: 18px;
  line-height: 1.4;
  padding: 0 0 15px 3px;
  white-space: pre-wrap;
  *zoom: 1;
}
.post .post-content-text:after {
  content: "";
  display: block;
  clear: both;
}
.post .post-content-memo {
  text-align: center;
  padding: 0 0 5px;
  line-height: 0;
  *zoom: 1;
}
.post .post-content-memo:after {
  content: "";
  display: block;
  clear: both;
}
.post .post-content-memo img {
  width: 100%;
  height: auto;
  max-height: 184px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
}
.post .post-meta {
  font-size: 16px;
  text-align: right;
  color: #969696;
  overflow: hidden;
  padding: 0 0 8px ;
}
.post .post-meta div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 2px 0 0;
  margin-left: 8px;
}
.post .post-meta .empathy-added + .empathy {
  color: #3caa00;
}
.post .post-meta .empathy:before {
  content: "e";
  margin-right: 3px;
}
.post .post-meta .empathy-added + .empathy:before {
  color: #5ac800;
}
.ie8-earlier .post .post-meta .empathy.changing:before {
  content: none;
}
.post .post-meta .reply:before {
  content: "r";
  margin-right: 3px;
}
.post .empathy-button {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 auto;
  padding: 3px 5px 2px;
  border: 1px solid #dddddd;
  border-bottom-color: #ccc;
  background: #FFF;
  font-size: 12px;
  color: #323232;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -ms-box-shadow: inset 0 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.post .empathy-button:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 0 #fff, 0 2px 4px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0 1px 0 #fff, 0 2px 4px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 0 #fff, 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 #fff, 0 2px 4px rgba(0,0,0,0.1);
}
.post .empathy-button:before {
  content: "E";
  font-size: 16px;
  color: #969696;
  margin-right: 2px;
  margin-top: -3px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.post .empathy-button:disabled {
  color: #dddddd;
  cursor: default;
}
.post .empathy-button:disabled:before {
  color: #dddddd;
}
.post .empathy-button:disabled:hover {
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -ms-box-shadow: inset 0 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.post .hidden-content,
.post .deleted-message,
.post .hidden_as_violation {
  color: #969696;
  font-size: 16px;
  padding: 0 0 1.5em 3px;
}
.post .hidden-content button,
.post .deleted-message button,
.post .hidden_as_violation button,
.post .hidden-content a,
.post .deleted-message a,
.post .hidden_as_violation a {
  color: #323232;
}
.post .hidden-content + .post-content-text,
.post .deleted-message + .post-content-text,
.post .hidden_as_violation + .post-content-text,
.post .hidden-content + .post-content-memo,
.post .deleted-message + .post-content-memo,
.post .hidden_as_violation + .post-content-memo {
  margin-top: -7px;
}
.post.hidden:hover {
  cursor: auto;
  background: transparent;
}
.post.hidden .screenshot-container,
.post.hidden .post-content-text,
.post.hidden .post-content-memo,
.post.hidden .post-meta {
  display: none;
}
.post .deleted-message {
  min-height: 1.5em;
  clear: both;
}
.accepting .not-accepting {
  display: none;
}
.not-accepting .accepting {
  display: none;
}
.accepting > span,
.not-accepting > span {
  float: right;
  font-size: 12px;
}
.accepting > span:before,
.not-accepting > span:before {
  content: '●';
  margin-right: 5px;
}
.accepting > span {
  color: #e8316e;
}
.accepting > span:before {
  color: #ffe400;
}
.not-accepting > span {
  color: #969696;
}
.not-accepting > span:before {
  color: #dddddd;
}
.multi-timeline-post.post-subtype-topic .accepting > span,
.multi-timeline-post.post-subtype-topic .not-accepting > span {
  padding: 2px 5px 4px;
}
@media screen and (max-width: 520px) {
  .post .icon-container.official-user:after {
    content: url(/assets/img/official-user-mini.png);
    width: 17px;
    height: 17px;
  }
  .user-community .icon-container .icon {
    width: 28px;
    height: 28px;
  }
  .user-community .icon-container .user-icon {
    width: 28px;
    height: 28px;
  }
  .user-community.official-user .icon-container:after {
    top: 20px;
    left: 20px;
  }
  #service-logo {
    float: right;
  }
  #service-logo img {
    width: 80px;
    height: 15px;
    margin: -5px 0 0;
  }
  .post {
    padding: 10px 10px 0;
  }
  .post .icon-container {
    width: 38px;
    height: 38px;
  }
  .post .icon-container .icon {
    width: 36px;
    height: 36px;
  }
  .post.official-user .user-organization {
    margin-left: 45px;
  }
  .post .timestamp-container {
    margin-left: 45px;
  }
  .post .user-name {
    font-size: 12px;
    margin-left: 45px;
  }
  .post .timestamp {
    padding-top: 2px;
    font-size: 10px;
  }
  .post .played {
    font-size: 10px;
  }
  .post .post-content-text {
    font-size: 16px;
  }
  .post .post-content-memo {
    margin: 0;
  }
  .post .post-memo {
    width: 100%;
  }
  .post .screenshot-container img {
    min-height: 168px;
    height: auto;
  }
  .post .video iframe {
    max-height: 360px;
    width: 100%;
  }
  .post .empathy-button {
    font-size: 12px;
  }
  .post .empathy-button:before {
    font-size: 14px;
  }
  .post .post-meta {
    font-size: 12px;
  }
  .post .post-meta div {
    padding: 5px 0 0;
    margin-left: 5px;
  }
  .post .hidden-content,
  .post .deleted-message,
  .post .hidden_as_violation {
    font-size: 14px;
    text-align: center;
    padding: 0 0 1em 3px;
  }
}
@media screen and (max-width: 360px) {
  .post .video iframe {
    max-height: 240px;
  }
}
